aenum==2.2.3
alabaster==0.7.12
appdirs==1.4.4
astroid==2.4.1
attrs==19.3.0
autopep8==1.5.4
Babel==2.9.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorutils==0.3.0
colour==0.1.5
comtypes==1.1.7
cssselect==1.1.0
cycler==0.10.0
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
docx-mailmerge==0.5.0
entrypoints==0.3
facebook-scraper==0.2.17
facebook-sdk==3.1.0
fake-useragent==0.1.11
fbchat==1.9.6
flake8==3.8.3
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
graphviz==0.14.2
gunicorn==20.0.4
idna==2.8
imageio==2.9.0
imagesize==1.2.0
imgutils==0.1.2
importlib-metadata==1.6.0
imutils==0.5.3
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
joblib==1.0.0
jsonmerge==1.7.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.4.1
manimlib==0.1.10
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
MouseInfo==0.1.3
msgpack==0.6.2
nanonispy==1.0.8
nbconvert==5.6.1
nbformat==5.0.5
networkx==2.5
notebook==6.0.3
numpy==1.19.1
opencv-python==3.4.2.17
packaging==20.8
paho-mqtt==1.5.0
pandas==1.0.3
pandocfilters==1.4.2
parse==1.18.0
parso==0.6.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==5.2.0
plotly==4.14.1
progressbar==2.5
prometheus-client==0.7.1
prompt-toolkit==3.0.5
PyAutoGUI==0.9.52
pycairo==1.18.1
pycodestyle==2.6.0
pycovid==1.0.0
pydot==1.4.1
pydotplus==2.0.2
pydub==0.23.0
pyee==7.0.4
pyflakes==2.2.0
PyGetWindow==0.0.9
Pygments==2.6.1
pylint==2.5.2
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
pyppeteer==0.2.2
pyquery==1.4.1
pyreadline==2.1
PyRect==0.1.4
pyrsistent==0.16.0
PyScreeze==0.1.26
python-dateutil==2.8.1
python-docx==0.8.10
PyTweening==1.0.3
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
regex==2020.11.13
requests==2.22.0
requests-html==0.10.0
retrying==1.3.3
scikit-image==0.17.2
scipy==1.1.0
seaborn==0.10.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
soupsieve==2.0
Sphinx==3.4.1
sphinx-gallery==0.8.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
statsmodels==0.12.1
terminado==0.8.3
testpath==0.4.4
tifffile==2020.10.1
toml==0.10.1
tornado==6.0.4
tqdm==4.52.0
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.11
w3lib==1.22.0
wcwidth==0.1.9
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yagmail==0.11.224
zipp==3.1.0
